<a href="https://colab.research.google.com/github/Nahidjc/Al_Lab/blob/main/blackFungusData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:

import pandas as pd
train_dataset = pd.read_csv('gdrive/My Drive/Colab Notebooks/blackFungusData.csv')

In [3]:
train_dataset.head()

                Name   Age   Sex Covid  ... Headache Fever SinusConj BlackFungus
0              Murad  12.0  Male    No  ...      Yes   Yes        No          No
1             shivam  12.0  Male    No  ...      Yes   Yes        No          No
2  aman soni @ badal  15.0  Male   Yes  ...      Yes   Yes        No          No
3          Apon Dash  15.0  Male   Yes  ...      Yes   Yes        No          No
4  shiv shakti singh  15.0  Male   Yes  ...      Yes   Yes        No          No

[5 rows x 11 columns]

In [4]:
train_dataset.tail()

               Name   Age   Sex Covid  ... Headache Fever SinusConj BlackFungus
445     rahul kumar  75.0  Male    No  ...       No    No        No          No
446  ram dutt gupta  75.0  Male    No  ...       No    No        No          No
447           Yeash  75.0  Male    No  ...       No    No        No          No
448           Mamun  76.0  Male   Yes  ...       No    No        No          No
449    supriyal sen  76.0  Male   Yes  ...       No    No        No          No

[5 rows x 11 columns]

In [5]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          450 non-null    object
 1   Age           450 non-null    float64
 2   Sex           450 non-null    object
 3   Covid         450 non-null    object
 4   Diabetes      450 non-null    object
 5   VisionLost    450 non-null    object
 6   PainUnderEye  450 non-null    object
 7   Headache      450 non-null    object
 8   Fever         450 non-null    object
 9   SinusConj     450 non-null    object
 10  BlackFungus   450 non-null    object
dtypes: float64(1), object(10)
memory usage: 38.8+ KB

In [6]:
from matplotlib import pyplot as plt

In [7]:
train_dataset['BlackFungus'].value_counts()

No     308
Yes    142
Name: BlackFungus, dtype: int64

In [8]:
gender_mapping = {"Male":1,"Female":0}

In [9]:
train_data = [train_dataset]
for train in train_data:
  train['Sex']=train['Sex'].map(gender_mapping)

In [21]:
train_dataset.head(5)

                Name   Age  Sex Covid  ... Headache Fever SinusConj BlackFungus
0              Murad  12.0    1    No  ...      Yes   Yes        No          No
1             shivam  12.0    1    No  ...      Yes   Yes        No          No
2  aman soni @ badal  15.0    1   Yes  ...      Yes   Yes        No          No
3          Apon Dash  15.0    1   Yes  ...      Yes   Yes        No          No
4  shiv shakti singh  15.0    1   Yes  ...      Yes   Yes        No          No

[5 rows x 11 columns]

In [22]:
Covid_mapping = {"Yes":1,"No":0}
for train in train_data:
  train['Covid']=train['Covid'].map(Covid_mapping)

In [26]:
train_dataset.head(5)

                Name   Age  Sex  Covid  ... Headache Fever SinusConj BlackFungus
0              Murad  12.0    1      0  ...      Yes   Yes        No          No
1             shivam  12.0    1      0  ...      Yes   Yes        No          No
2  aman soni @ badal  15.0    1      1  ...      Yes   Yes        No          No
3          Apon Dash  15.0    1      1  ...      Yes   Yes        No          No
4  shiv shakti singh  15.0    1      1  ...      Yes   Yes        No          No

[5 rows x 11 columns]

In [30]:
train_data = [train_dataset]
Diabetes_mapping = {"Yes":1,"No":0}
for train in train_data:
  train['Diabetes']=train['Diabetes'].map(Diabetes_mapping)

In [31]:
train_data = [train_dataset]
VisionLost_mapping = {"Yes":1,"No":0}
for train in train_data:
  train['VisionLost']=train['VisionLost'].map(VisionLost_mapping)

In [32]:
PainUnderEye_mapping = {"Yes":1,"No":0}
for train in train_data:
  train['PainUnderEye']=train['PainUnderEye'].map(PainUnderEye_mapping)

In [33]:
train_dataset.head(5)

                Name   Age  Sex  Covid  ...  Headache  Fever  SinusConj BlackFungus
0              Murad  12.0    1      0  ...       Yes    Yes         No          No
1             shivam  12.0    1      0  ...       Yes    Yes         No          No
2  aman soni @ badal  15.0    1      1  ...       Yes    Yes         No          No
3          Apon Dash  15.0    1      1  ...       Yes    Yes         No          No
4  shiv shakti singh  15.0    1      1  ...       Yes    Yes         No          No

[5 rows x 11 columns]

In [34]:
Headache_mapping = {"Yes":1,"No":0}
for train in train_data:
  train['Headache']=train['Headache'].map(Headache_mapping)

In [35]:
Fever_mapping = {"Yes":1,"No":0}
for train in train_data:
  train['Fever']=train['Fever'].map(Fever_mapping)

In [36]:
SinusConj_mapping = {"Yes":1,"No":0}
for train in train_data:
  train['SinusConj']=train['SinusConj'].map(SinusConj_mapping)

In [37]:
BlackFungus_mapping = {"Yes":1,"No":0}
for train in train_data:
  train['BlackFungus']=train['BlackFungus'].map(BlackFungus_mapping)

In [40]:
train_dataset.head(5)

                Name   Age  Sex  Covid  ...  Headache  Fever  SinusConj  BlackFungus
0              Murad  12.0    1      0  ...         1      1          0            0
1             shivam  12.0    1      0  ...         1      1          0            0
2  aman soni @ badal  15.0    1      1  ...         1      1          0            0
3          Apon Dash  15.0    1      1  ...         1      1          0            0
4  shiv shakti singh  15.0    1      1  ...         1      1          0            0

[5 rows x 11 columns]

In [42]:
train_dataset.drop(["Name"], axis = 1, inplace = True)

In [43]:
train_dataset.head(5)

    Age  Sex  Covid  Diabetes  ...  Headache  Fever  SinusConj  BlackFungus
0  12.0    1      0         0  ...         1      1          0            0
1  12.0    1      0         0  ...         1      1          0            0
2  15.0    1      1         0  ...         1      1          0            0
3  15.0    1      1         0  ...         1      1          0            0
4  15.0    1      1         0  ...         1      1          0            0

[5 rows x 10 columns]