<a href="https://colab.research.google.com/github/Nahidjc/Al_Lab/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#built-in functions

In [ ]:
print("Hi, This is Nahid Hasan . Do you miss me")
input("Let me know if you miss me or not. ")

Hi, This is Nahid Hasan . Do you miss me
Let me know if you miss me or not. yes

'yes'

In [ ]:
a = 10
b =21
print(max(a,b))
print(min(a,b))

21
10

In [ ]:
c = 10.4
d = int(c)
print(d)

10

In [ ]:
e = "python"
print(type(e))

<class 'str'>

User defined function

In [ ]:
def sum(a,b):
  c = a+b
  return c

a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
d = sum(a,b)
print("The sum is", d)

Enter a number: 2
Enter a number: 4
The sum is 6

In [ ]:
#function with multiple parameters

In [ ]:
def divisior(x,y,m):
  if x%m==0 and y%m==0:
    print("%d & %d are divisible by %d"%(x,y,m))
  elif x%m==0:
    print("only %d is divisible by %d"%(x,m))
  elif y%m==0:
    print("only %d is divisible by %d"%(y,m))
  else:
    print("none of %d & %d is divisible by %d"%(x,y,d))
divisior(10,20,5)
divisior(12,20,5)
divisior(10,22,5)
divisior(2,5,3)

10 & 20 are divisible by 5
only 20 is divisible by 5
only 10 is divisible by 5
none of 2 & 5 is divisible by 6

In [ ]:
##function without paramete

In [ ]:
def summation():
    a=3+8
    return a

b=summation()
print(b)

11

In [ ]:
#function with default parameter value

In [ ]:
def check(a=0):
    if a==0:
        print("Zero")
    elif a>0:
        print("Positive")
    else:
        print("Negative")

check()    
check(-8)
check(8)

Zero
Negative
Positive

In [ ]:
def local_scope():
    x=7
    print(x)

local_scope()
print(x)

7

NameError: ignored

In [ ]:
def local_scope():
    x=7
    return x

a=local_scope()
print(a)
print(x)

7

NameError: ignored

In [ ]:
x=10

def global_scope():
    print(x)

print(x)
global_scope()

10
10

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
dataset = pd.read_csv('gdrive/My Drive/Colab Notebooks/ICCHighscore.csv')

In [ ]:
dataset.head()

   Position           Player  ...  Match Date            Playerdet
0         1     David Warner  ...  20/06/2019     David Warner-166
1         2        Jason Roy  ...  08/06/2019        Jason Roy-153
2         3      Aaron Finch  ...  15/06/2019      Aaron Finch-153
3         4      Eoin Morgan  ...  18/06/2019      Eoin Morgan-148
4         5  Kane Williamson  ...  22/06/2019  Kane Williamson-148

[5 rows x 8 columns]

In [ ]:
dataset.tail()

    Position          Player  ...  Match Date           Playerdet
45        46        Joe Root  ...  18/06/2019         Joe Root-88
46        47   Usman Khawaja  ...  29/06/2019    Usman Khawaja-88
47        48     Chris Gayle  ...  22/06/2019      Chris Gayle-87
48        49  Ikram Ali Khil  ...  04/07/2019   Ikram Ali Khil-86
49        50  Angelo Mathews  ...  21/06/2019  Angelo Mathews-85*

[5 rows x 8 columns]