<a href="https://colab.research.google.com/github/Nahidjc/Al_Lab/blob/main/PerformanceBank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [105]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [106]:
import pandas as pd
train_dataset = pd.read_csv('gdrive/My Drive/Colab Notebooks/Lab-PerformanceBank-Refund.csv')

In [107]:
train_dataset.head()

   ID Refund Marrital Status  Inc.Tex Cheat
0   1    Yes          Single    12500    No
1   2     No         Married    10000    No
2   3    Yes         Married    70000    No
3   4     No          Single   120000    No
4   5    Yes         Married    95000   Yes

In [108]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               16 non-null     int64
 1   Refund           16 non-null     object
 2   Marrital Status  16 non-null     object
 3   Inc.Tex          16 non-null     int64
 4   Cheat            16 non-null     object
dtypes: int64(2), object(3)
memory usage: 768.0+ bytes

In [109]:
Refund_mapping={'Yes':1,'No':0}

In [110]:
train_data = [train_dataset]
for train in train_data:
   train['Refund']=train['Refund'].map(Refund_mapping)

In [111]:
train_dataset.head()

   ID  Refund Marrital Status  Inc.Tex Cheat
0   1       1          Single    12500    No
1   2       0         Married    10000    No
2   3       1         Married    70000    No
3   4       0          Single   120000    No
4   5       1         Married    95000   Yes

In [112]:
train_dataset.drop('ID', axis=1, inplace=True)

In [113]:
Marrital_mapping={'Married':1,'Single':0}

In [114]:
Cheat_mapping={'Yes':1,'No':0}

In [115]:
train_data = [train_dataset]
for train in train_data:
   train['Cheat']=train['Cheat'].map(Cheat_mapping)

In [116]:
train_dataset.head()

   Refund Marrital Status  Inc.Tex  Cheat
0       1          Single    12500      0
1       0         Married    10000      0
2       1         Married    70000      0
3       0          Single   120000      0
4       1         Married    95000      1

In [117]:
Marrital_mapping={'Married':1,'Single':0}
train_data = [train_dataset]
for train in train_data:
   train['Marrital Status']=train['Marrital Status'].map(Marrital_mapping)

In [118]:
train_dataset.head(10)

   Refund  Marrital Status  Inc.Tex  Cheat
0       1                0    12500      0
1       0                1    10000      0
2       1                1    70000      0
3       0                0   120000      0
4       1                1    95000      1
5       0                0    60000      0
6       0                0   220000      0
7       0                0    85000      1
8       1                1    75000      0
9       1                1    90000      1

In [119]:
train_dataset.dtypes

Refund             int64
Marrital Status    int64
Inc.Tex            int64
Cheat              int64
dtype: object

In [120]:
train_data = train_dataset.drop('Cheat',axis=1)
target = train_dataset['Cheat']
train_data.shape
target.shape

(16,)

In [121]:
train_data.isnull().sum()

Refund             0
Marrital Status    0
Inc.Tex            0
dtype: int64

In [122]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train_data,target,test_size=0.2,random_state=42)
print("X_Train",x_train.shape)
print("X_Test",x_test.shape)

X_Train (12, 3)
X_Test (4, 3)

In [123]:
print(x_train)

    Refund  Marrital Status  Inc.Tex
13       1                1    95000
11       0                0    80000
8        1                1    75000
9        1                1    90000
2        1                1    70000
15       1                0    78000
4        1                1    95000
7        0                0    85000
10       0                0    55000
12       0                1    11000
3        0                0   120000
6        0                0   220000

In [124]:
train_data.head()

   Refund  Marrital Status  Inc.Tex
0       1                0    12500
1       0                1    10000
2       1                1    70000
3       0                0   120000
4       1                1    95000

In [125]:
from sklearn.tree import DecisionTreeClassifier

In [126]:
dt = DecisionTreeClassifier()

In [127]:
dt.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [136]:
y_pred = dt.predict(x_test)

In [137]:
 from sklearn.metrics import accuracy_score

In [135]:
print("Find Accuracy using Decission Tree:",accuracy_score(y_test, y_pred)*100)

Find Accuracy using Decission Tree: 75.0

In [131]:
from sklearn.ensemble import RandomForestClassifier

In [132]:
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [133]:
y_prediction = rf.predict(x_test)

In [134]:
print("Find Accuracy using Random Forest:",accuracy_score(y_test,y_prediction)*100)

Find Accuracy using Random Forest: 75.0